@font-face {
  font-family: 'Mirosa';
  font-style: normal;
  font-weight: 400;
  text-rendering: auto;
  src: 
  local('Mirosa-Regular'), 
  url('./fonts/Mirosa-Regular.ttf') format('truetype');
}

body {
  background-repeat: no-repeat, repeat;
  background-color: #000;
}
